html {
  width:100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  min-height: 100%;
  position: relative;
}

.app__root {
  /*width: 450px;*/
  max-width: 90%;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.App {
  text-align: center;
  margin: 0 auto;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 10px;
  color: white;
}


.app-header {
  margin: 0 auto;
  text-align: left;
}


.app-title {
  font-weight: lighter;
  margin-top: 10px;
}

.App-intro {
  font-size: large;
}


.app__form-validator {
  float: left;
  font-weight: normal;
}

.app__form__btn--save--wrapper {
  float: left;
  margin-top: 24px;
}

.app__form__btn--save {
  -webkit-transition: width 500ms ease-in-out;
  -moz-transition: width 500ms ease-in-out;
  -o-transition: width 500ms ease-in-out;
  transition: width 500ms ease-in-out;
}

.app__form__label--result {
  height: 20px;
}